.footer {
  background: #191919;
  color: $grey-default;
  font-weight: 300;
  font-size: 14px;

  a {
    transition: color .3s;

    &:hover,
    &:active {
      color: $primary-font-color;
    }
  }
  .accent {
    color: #959595;
  }
  &-logo {
    display: flex;
    align-items: center;
    font-family: raleway, sans-serif;
    font-size: 34px;
    transition: color .3s;
    position: relative;
    margin-top: -10px;
    margin-bottom: 30px;

    svg {
      fill: #fff;
      transition: fill .3s;
    }

    &:hover {
      color: $primary-font-color;
      svg {
        fill: $primary-font-color;
      }
    }
    &:active {
      color: darken($primary-font-color, 10%);
      svg {
        fill: darken($primary-font-color, 10%);
      }
    }
  }

  .title {
    font-size: 24px;
    font-weight: 600;
    font-family: $font-raleway;
    margin-bottom: 20px;
    color: #fff;
  }
  .main-line {
    padding: 70px 0 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    a {
      color: #fff;

      &.tag {
        color: #00bff3;
      }
    }

    & > div {
      width: 23%;
      margin-right: 2%;
      margin-bottom: 40px;

    }

    .date {
      font-size: 12px;
      color: #363636;
      transition: color .3s;
    }
    .info {
      .text {
        margin-bottom: 20px;
      }

      .more {
        &:after {
          content: '';
          display: inline-block;
          border: 4px solid transparent;
          border-left-color: #fff;
          margin-left: 10px;
          line-height: 1;
          transition: border-left-color .3s;
        }

        &:hover,
        &:active {
          &:after {
            border-left-color: $primary-font-color;
          }
        }
      }
    }


    .twitter-item,
    .post-item {
      color: $grey-default;
      display: block;
      border-bottom: 1px solid $grey-default;
      padding-bottom: 20px;
      margin-bottom: 20px;

      p {
        margin: 0;
      }

      &:last-child {
        border-bottom: 0;
      }
    }

    .post-item {
      &:active,
      &:hover {
        color: $primary-font-color;

        .date {
          color: #fff;
        }
      }
      .date {
        margin-bottom: 5px;
      }
    }
    .twitter-item .date {
      margin-top: 5px;
    }

    .widget {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-content: flex-start;
      .title {
        width: 100%;
      }
      img {
        margin: 0 0 10px;
      }
    }

    @media (max-width: 1210px) {
      & > div {
        width: 47%;
      }
    }
    @media (max-width: 640px) {
      & > div {
        width: 100%;
        margin-right: 0;
      }
    }
  }


  .bottom-line {
    background: #000;
    padding: 34px 0;
    font-size: 13px;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    a {
      color: $grey-default;
      &:hover {
        color: $primary-font-color;

        &:after {
          color: $grey-default;
        }
      }
    }
    .left-part,
    .right-part {
      &>* {
        &:after {
          content: '|';
          display: inline-block;
          margin: 0 10px;
        }

        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }

    @media (max-width: 900px) {
      .container {
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
      .left-part {
        margin-bottom: 20px;
      }
    }
  }
}
