.header {
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  z-index: 1;
  color: #fff;
  padding-top: 40px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    color: #fff;
  }

  &-logo {
    display: flex;
    align-items: center;
    font-family: raleway, sans-serif;
    font-size: 34px;
    transition: color .3s;

    svg {
      fill: #fff;
      transition: fill .3s;
    }

    &:hover {
      color: $primary-font-color;
      svg {
        fill: $primary-font-color;
      }
    }
    &:active {
      color: darken($primary-font-color, 10%);
      svg {
        fill: darken($primary-font-color, 10%);
      }
    }
  }

  &-nav {
    &-list {
      display: flex;
      justify-content: right;
      align-items: center;
    }

    a {
      display: inline-block;
      margin-left: 30px;
      font-weight: 300;
      font-size: 14px;
      transition: color .3s;
      white-space: nowrap;

      &:hover {
        color: $primary-font-color;
      }
      &:active {
        color: darken($primary-font-color, 10%);
      }
    }

    .hamburger {
      display: none;
    }

    #menu {
      display: none;
    }
  }

  .icon-search,
  .icon-cart {
    background: transparent;
    border: 0;
    cursor: pointer;
    display: inline-block;

    svg {
      fill: #fff;
      transition: fill .3s;

      &:hover {
        fill: $primary-font-color;
      }
      &:active {
        fill: darken($primary-font-color, 10%);
      }
    }
  }

  .icon-cart {
    margin: 0 24px 0 60px;
    padding: 0;
  }

  .icon-search {
    background: transparent;
    border: 0;
    cursor: pointer
  }

  @media (max-width: 1080px) {
    .hamburger {
      display: block;
      position: relative;
      z-index: 2;
    }

    &-nav-list {
      width: 0;
      overflow: hidden;
      transition: width .3s, padding .3s;
      padding: 30px 0;
      display: flex;
      position: absolute;
      top: 0;
      height: 100vh;
      flex-direction: column;
      right: 0;
      align-items: flex-start;
      line-height: 2;
      background: #ffffff;

      a {
        color: $primary-color;
        margin-left: 0;
      }

      .icon-cart {
        margin: 30px 0 0;
        svg {
          margin-left: 0;
          margin-bottom: 15px;
          fill: $primary-color;
        }
      }
      .top-search {
        display: none;
      }
    }

    #menu:checked {
      & ~ .header-nav-list {
        width: 220px;
        padding: 30px 80px 30px 30px;
      }
      & ~ .hamburger {

        i,
        &:after,
        &:before {
          background: $primary-color;
        }
      }
    }
  };
}

.top-search {
  line-height: 1;
  position: relative;

  &-text-field {
    position: absolute;
    display: block;
    opacity: 0;
    width: 0;
    right: 0;
    bottom: -50px;
    transition: opacity .3s, width .3s, padding .3s;
    border: 0;
    background: #ffffffcc;
    outline: none;
    padding: 0;
    font-size: 14px;
    height: 40px;
    border-bottom: 4px solid $primary-color;
    border-radius: 4px;

    &:focus {
      opacity: 1;
      width: 200px;
      padding: 0 10px;
    }
  }
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 19px;

  i,
  &:after,
  &:before {
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #ffffff;
    transition: all .3s;
  }

  i {
    top: 50%;
    margin-top: -2px;
  }

  &:after {
    bottom: 0
  }
  &:before {
    top: 0;
  }

  &:active,
  &:hover {
    i,
    &:after,
    &:before {
      background: $primary-font-color;
    }
  }
}
.hamburger-input {
  &:checked {
    & ~ .hamburger {
      i {
        opacity: 0
      }
      &:before,
      &:after {
      }

      &:before {
        top: 8px;
        transform: rotate(45deg);
      }
      &:after {
        bottom: 8px;
        transform: rotate(-45deg);
      }
    }
  }
}
