.slider {

  &-container {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 500px;

  }

  &-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-size: cover;

    &:nth-child(1) {
      display: flex;
      background-image: url(../img/main-slider-1.jpg);
    }
    &:nth-child(2) {
      background-image: url(../img/main-slider-2.jpg);
    }
    &:nth-child(3) {
      background-image: url(../img/main-slider-3.jpg);
    }
  }

  &-text-block {
    max-width: 620px;
    margin: 0 15%;
    color: #fff;
    text-align: center;

    h1, h2, h3 {
      margin: 0;
      padding: 0;
    }
    h1 {
      font-size: 52px;
      font-weight: 800;
    }
    h2 {
      font-size: 36px;
      font-weight: 500;
    }

  }
  &-content {
    font-weight: 300;
    margin-bottom: 40px;
  }

  &-control {
    position: absolute;
    bottom: 4%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &-point {
      display: inline-block;
      border-radius: 50%;
      background: #959597;
      width: 13px;
      height: 13px;
      border: 2px solid transparent;
      margin: 0 5px;
      transition: all .3s;

      &:hover {
        background: darken(#959597, 10%);
      }
      &:active {
        background: darken(#959597, 15%);
      }

      &.active {
        background: transparent;
        border-color: #d3c1ad;
        transform: scale(1.2);
      }

    }
  }

  &-arrows {
    .left,
    .right {
      width: 50px;
      height: 50px;
      border: 3px solid $primary-color;
      border-right: 0;
      border-bottom: 0;
      position: absolute;
      top: 50%;
      cursor: pointer;
      transition: border-color .3s;

      &:hover {
        border-color: darken($primary-color, 5%);
      }
      &:active {
        border-color: darken($primary-color, 10%);
      }
    }

    .left {
      left: 5%;
      transform: translateY(-50%) rotate(-45deg);
    }

    .right {
      right: 5%;
      transform: translateY(-50%) rotate(135deg);
    }
  }
}
