$primary-font-color: #c7b299;
$primary-color: #998675;
$grey-default: #555;
$grey-light: #8c8c8c;

$font-raleway: raleway, Arial, sans-serif;
$font-montserrat: montserrat, Arial, sans-serif;

$gutter: 30px;
